<footer>
    <p>Built by <a href='https://malikos.com'>{{name}}</a>  |  <span class="powered">Powered by <a href='https://www.mapbox.com'>mapbox</a> & <a href='https://www.weatherstack.com'>weatherstack</a></span></p>
</footer>

