<header>
    <div class="flex-banner">
        <a href="/"><img class="logo" src='/img/logo.png' /></a>
        <a href="/"><h1>Forecast</h1></a>
    </div>

    <div class="nav">
        <a class="links" href="/">Weather</a>
        <a class="links" href="/about">About</a>
        <a class="links" href="/help">Help</a>
    </div>

    <h2>{{title}}</h2>
</header>